<div class="row col-lg-12">
  <form class="form-horizontal">
    <fieldset>

    <legend>Book details</legend>

    <div class="form-group">
      <strong class="col-md-2">Title : </strong>  
      <div class="col-md-2"><%= @book.title %></div>
    </div>

    <div class="form-group">
      <strong class="col-md-2">Author : </strong>  
      <div class="col-md-2"><%= @book.author %></div>
    </div>

    <div class="form-group">
      <strong class="col-md-2">Subjects : </strong>  
      <div class="col-md-2"><%= @book.subjects_to_s %></div>
    </div>

    <div class="form-group">
      <strong class="col-md-2">First published : </strong>  
      <div class="col-md-2"><%= @book.first_published %></div>
    </div>

    <div class="form-group">
      <strong class="col-md-2">Uploader : </strong>  
      <div class="col-md-2"><%= @book.title %></div>
    </div>

    </fieldset>
  </form>
</div>