<div class="row col-lg-12">
  <%= form_for @book, url: {action: "update", id: @book}, { class: 'form-horizontal' }, do |book| %>
    <fieldset>

    <legend>Update book : <%= book.title %></legend>

    <div class="form-group"> 
      <%= label :books, :title, "Title: ", class: "col-md-2 control-label" %>
      <div class="col-md-4 input-group">
        <%= book.text_field :books, :title, {class: "form-control input-md", required: true} %>
      </div>
    </div>

    <div class="form-group">  
      <%= label :books, :author, "Author : ", class: "col-md-2 control-label" %>
      <div class="col-md-4 input-group">
        <%= book.text_field :books, :author, {class: "form-control input-md", required: true} %>
      </div>
    </div>

    <div class="form-group">  
      <%= label :books, :subject_ids, "Subjects : ", class: "col-md-2 control-label" %>
      <div class="col-md-2 input-group">
        <%= book.select_tag("books[subject_ids]", options_from_collection_for_select(Subject.all, 'id', 'title'), { multiple: true, size: 6, class: 'form-control', required: true} ) %>
      </div>
    </div>

    <div class="form-group"> 
      <%= label :books, :subject_ids, "First published : ", class: "col-md-2 control-label" %>
      <div class="col-md-2 input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <%= book.text_field :books, :first_published, {class: "datepicker form-control input-md", required: true} %>
      </div>
    </div>

    <%= submit_tag("Create", class: "btn btn-primary") %>

    </fieldset>
    <% end -%>
</div>